{{navbar-component}}

{{liquid-outlet}}

<div class="container">
    <div class="btn-group">
        <a class="btn btn-success">{{#link-to 'new'}}New{{/link-to}}</a>
        <button class="btn btn-primary" {{action 'showAll'}}>All</button>
        <button class="btn btn-primary" {{action 'showCompleted'}}>Complete</button>
        <button class="btn btn-primary" {{action 'showIncomplete'}}>Incomplete</button>
    </div>
</div>

<br>

<div class="container">
  <div class="list-group">
    {{#each completed as |task|}}
      <div class="row">
        <div class="list-group-item col-md-8">
          {{one-way-checkbox checked=task.isDone update=(action (route-action 'toggleTask' task))}}
          {{task.id}}:
          {{task.description}}
          <span class="deadline pull-right"><strong>Due:</strong> {{task.deadline}}</span>
        </div>
        <div class="col-md-4">
          <button class="btn btn-default edit" {{action 'editTask' task}}><span class="glyphicon glyphicon-pencil"></span> Edit</button>
          <button class="btn btn-danger remove" {{action (route-action 'delete' task)}}><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<br><br>